<div class="container">
  <div class="login">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          placeholder="Username"
          formControlName="username"
          class="form-control username"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="form-control password"
        />
      </div>
      <div class="form-group">
        <label class="rememberMe">
          <input
            type="checkbox"
            formControlName="rememberMe"
            name="rememberMe"
            class="form-control"
          />
          <small>Remember Me</small>
        </label>

      </div>
      <div class="form-group">
        <button class="btn">Login</button>
      </div>
      <p class="forgotpass" (click)="forgot()">
        <small> Forgot Password </small>
      </p>
      <p class="signup">
        <small>Not a member?</small>
        <a (click)="signup()" href="#"> <small>&nbsp;&nbsp;&nbsp;Sign up now</small></a>
      </p>
    </form>
  </div>
  <div class="messages">
    <div *ngIf="showLogindata" class="loginData">
      {{ loginForm.value | json }}
    </div>
    <p *ngIf="showMessage" class="msgText">{{ messageText }}</p>
  </div>
</div>
